node_modules/
dist/

*.suo
*.ntvs*
*.njsproj
*.sln
*.local


# IDE
.vscode
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.

# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar